.showcase {
    width: 100%;
    height: 93vh;
    position: relative;
    background: url('../img/background.jpg') no-repeat center center/cover;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.6);
        box-shadow: inset 120px 100px 250px black, inset -120px -100px 250px black;
    }

    .btn-rounded {
        .default-btn-rounded;
    }

    .btn-xl {
        .default-btn-xl;
    }

    .showcase-top {
        position: relative;
        z-index: 2;
        height: 90px;

        img {
            width: 170px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%);
        }

        a {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-50%);
        }
    }

    .showcase-content {
        position: relative;
        z-index: 2;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 9rem;

        h1 {
            font-weight: 700;
            font-size: 5.2rem;
            line-height: 1.1;
            margin: 0 0 2rem;
        }

        p {
            text-transform: uppercase;
            color: white;
            font-weight: 400;
            font-size: 1.9rem;
            line-height: 1.25;
            margin: 0 0 2rem;
        }
    }
}

